@charset 'utf-8';

main {
  width: 400px;
  margin: 0 auto;
}
.required::before {
  content: " *";
  color: #E00;

}

td p {
  font-size: 1.3em;
}

.checked_ok {
  font-size: 1.3em;
  background-color: greenyellow;
}

.checked_ng {
  font-size: 1.3em;
  background-color: red;
}